extends layout

block content
	body
		h1 Single View Page
		.mybox
			p #{post[0].postname}
			p #{post[0].postemail}
			p #{post[0].postphone}
			p #{post[0].postorg}
			p #{post[0].postcontent}
			p #{post[0].date}
			a(href="/deleteuser/#{post[0].id}", onclick="return warningView();") Delete
			p
			a(href="/edituser/#{post[0].id}") EDIT 
			p
			p#confirm
	
			script.
				function warningView() {
				  if(confirm("Please confirm you want to delete this proposal") == true){
				  return true;
				  } 
				else{
				return false;
					}
				}