extends layout

block content
	.formdiv
		h1 Posts 

		form(name="adduser",method="post",action="/adduser")
			p Create new Post
			input(type="text", placeholder="postname", name="postname")
			p
			textarea.form-control(type="text", placeholder="postcontent", name="postcontent", cols="35", rows="5")
			p
			button(type="submit") submit

		ul
			each post, i in postlist
				li.mybox 
					p #{post.postname}
					p #{post.date}
					p #{post.postemail}
					a(href="/singleview/#{post.id}") View
					a(href="/deleteuser/#{post.id}", onclick="return warningList();") Delete
					a(href="/edituser/#{post.id}") EDIT 
		
		script.
				function warningList() {
				  if(confirm("Please confirm you want to delete this proposal") == true){
				  return true;
				  } 
				else{
				return false;
					}
				}
					

    
