extends layout

block content
	h1 Posts 



	form(name="adduser",method="post",action="/adduser")
		p Create new Post
		input(type="text", placeholder="postname", name="postname")
		input(type="text", placeholder="postcontent", name="postcontent")
		button(type="submit") submit

	ul
		each post, i in postlist
			li #{post.postname} #{post.postcontent} 
				p
				a(href="/deleteuser/#{post.id}") Delete
				p
				a(href="/edituser/#{post.id}") EDIT
                

	ul
		each post, i in postlist
			li 
				p #{post.postcontent}
					

    
