extends layout

block content
	h1
		User List
	ul
		each user, i in userlist
			li #{user.username} #{user.email} 
				p
				a(href="/userlist/#{user.id}") Delete
				p
				a(href="/edituser/#{user.id}") EDIT
                

	ul
		each user, i in userlist
			li 
				p #{user.email}
					

    
